body {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden; /* Skrol chiqib ketmasligi uchun */
}

.header {
    background-color: rgb(255, 255, 255);
    width: 80vw;
    height: 80vw;
    max-width: 500px;
    max-height: 500px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eye {
    background-color: #000000;
    width: 28%;
    height: 25%;
    margin: 5%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    background-color: rgb(255, 255, 255);
    width: 35%;
    height: 35%;
    border-radius: 50%;
    position: relative;
    transition: 0.1s ease-out;
}